.fadeUp-enter {
  opacity: 0.01;
  transform: translateY(100px);
  backface-visibility: hidden;
}

.fadeUp-enter.fadeUp-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 700ms ease;
}
.fadeUp-leave {
  transform: translateY(0);
  opacity: 1;
}

.fadeUp-leave.fadeUp-leave-active {
  transform: translateY(100px);
  opacity: 0.01;
  transition: all 550ms ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}