* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #e2e1e0;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
p{
  font-size: 16px;
  line-height: 1.6;
}
figure{
  margin: 0;
  padding: 0;
}
a{
  color: #000;
  text-decoration: none;
  outline: none;
}
.hidden{
  display: none;
}
.button{
  display: inline-block;
  outline: none !important;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  transition: all 0.25s ease;
  cursor: pointer;
  &:hover{
    color: #000;
    background-color: #fff;
  }
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    padding: 0;
    margin: 0;
  }
}

// Header styles
.App-header {
  background-color: #222;
  height: 100px;
  color: #ffffff;
  a{
    color: #ffffff;
  }
}
.header-inner{
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-auto-flow: dense;
  .logo{
    text-align: left;
  }
  .nav-wrap{
    text-align: right;
    ul{
      li{
        display: inline-block;
        a{
          position: relative;
          display: inline-block;
          padding: 38.5px 20px;
          font-size: 20px;
          font-weight: bold;
          background-color: transparent;
          &.active, &:hover{
            background-color: rgba(#fff, 0.1);
          }
        }
      }
    }
  }
}
.page-content{
  min-height: calc(100vh - 200px);
}
.App-title{
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  line-height: 100px;
}
.container{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

// Search bar styles
.search-bar-wrap{
  padding: 20px 0 0;
}
.search-bar-input{
  width: 100%;
  padding: 20px 30px;
  font-size: 18px;
  outline: none !important;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.react-autosuggest__container{
  position: relative;
}
.react-autosuggest__suggestions-container{
  position: absolute;
  top: 61px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 2;
  &--open{
    margin-top: 20px;
  }
}
.react-autosuggest__suggestions-list{
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
.react-autosuggest__suggestion{
  position: relative;
  padding: 20px 30px;
  border-bottom: 1px solid #cccccc;
  vertical-align: middle;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
  .material-icons{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
}
.react-autosuggest__suggestion-image{
  display: inline-block;
  width: 92px;
  height: auto;
  margin-right: 30px;
  vertical-align: middle;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.react-autosuggest__suggestion-info{
  display: inline-block;
  padding-right: 110px;
  width: calc(100% - 125px);
  vertical-align: middle;
}
.react-autosuggest__suggestion-title{
  display: inline-block;
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: bold;
}
.react-autosuggest__suggestion-description{
  font-size: 14px;
  margin: 0;
}


// Home page
.section-latest__wrap{
  padding: 40px 0 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  .section-title{
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    margin: 0 0 10px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .item{
      display: inline-block;
      position: relative;
      height: 100%;
      img{
        height: 100%;
        width: 100%;
        max-width: 100%;
      }
      .desc__wrap{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        padding: 20px;
        color: #ffffff;
        background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        p{
          font-size: 18px;
          font-weight: bold;
          margin: 0;
        }
      }
      &:first-of-type{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
      }
    }
  }
}

.grid__item{
  display: inline-block;
  position: relative;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  background-color: #cccccc;
  overflow: hidden;
  img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .desc__wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    z-index: 2;
    backface-visibility: hidden;
    transform: translateY(101%);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    p{
      margin: 0;
    }
    .title{
      font-size: 18px;
      margin: 0 0 10px;
      line-height: 1.2;
    }
    .genres{
      font-style: italic;
      font-size: 14px;
      line-height: 1;
    }
  }
  .item__rating__wrap{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: rgba(#fff, 0.3);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    backface-visibility: hidden;
    overflow: hidden;
    transform: translateY(-101%);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    .bg-outer{
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #ff0000;
      height: 100%;
      width: 100%;
      z-index: 2;
    }
    .inner{
      position: absolute;
      top: 3px;
      left: 3px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      font-weight: bold;
      text-align: center;
      line-height: 46px;
      background-color: #fff;
      z-index: 3;
    }
  }
  &:hover{
    .desc__wrap{
      transform: translateY(0%);
      opacity: 1;
    }
    .item__rating__wrap{
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
.elements__grid__wrap{
  padding: 20px 0 60px;
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr;
  grid-gap: 20px;
  .loading{
    position: relative;
    grid-column: 2 / -1;
    height: 300px;
    text-align: center;
    padding: 100px 0;
    &:after{
      content: ' ';
      position: absolute;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 10px solid rgba(#000, 0.2);
      border-top-color: #000;
      animation: spin 750ms infinite linear;
    }
  }
  .grid-sorting__wrap{
    grid-column: 1 / -1;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    border-radius: 2px;
    ul{
      text-align: right;
      li{
        display: inline-block;
        margin-left: 20px;
        font-size: 18px;
        cursor: pointer;
        color: #ababab;
        &:first-of-type{
          cursor: default;
          color: #000000;
        }
        &.active{
          color: #000000;
        }
      }
    }
  }
  .grid__filters{
    grid-column: 1 / 2;
    ul{
      background-color: #fff;
      overflow: hidden;
      border-radius: 2px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      li{
        cursor: pointer;
        display: block;
        padding: 20px;
        border-bottom: 1px solid #cccccc;
      }
    }
  }
  .elements__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    grid-auto-flow: dense;
    grid-gap: 20px;
    grid-column: 2 / -1;
    width: 100%;
  }
  .pagination__wrap{
    grid-column: 2 / -1;
    padding: 40px 0;
    width: 100%;
    text-align: center;
    height: auto;
  }
}

// single movie page
.single-details__bg{
  position: relative;
  margin-bottom: 60px;
  background-color: #cccccc;
  overflow: hidden;
  .bg-img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(4px);
    transform: scale(1.1);
    z-index: 0;
  }
}
.single-details__wrap{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 60px 0;
  z-index: 2;
  .poster{
    width: 100%;
    max-width: 100%;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .description-wrap{
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  h2{
    font-size: 30px;
    margin: 20px 0;
  }
  .date{
    font-weight: bold;
    i{
      vertical-align: top;
    }
  }
}
.single-movie-grid__wrap{
  padding: 0 0 60px;
  .section-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px;
  }
  .single-movie-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(240px,1fr));
    grid-auto-flow: dense;
    grid-gap: 20px;
    width: 100%;
    .grid__item{
      &:first-of-type{
        grid-column: 2 / 4;
        grid-row: 1 / 3;
      }
    }
  }
}

//single TV page
.serial-seasons-wrap{
  padding: 0 0 60px;
  .section-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px;
  }
  .serial-seasons-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    grid-auto-flow: dense;
    grid-gap: 20px;
    width: 100%;
  }
  .season-item{
    display: inline-block;
    position: relative;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    background-color: #cccccc;
    overflow: hidden;
    img{
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;

    }
    .desc{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #ffffff;
      padding: 10px 20px;
      z-index: 2;
      backface-visibility: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(101%);
      transition: all 0.4s ease-in-out;
      p{
        margin: 0;
      }
    }
    &:hover{
      .desc{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

  }
}




// Footer styles
.App-footer{
  text-align: center;
  background-color: #BDBDBD;
  padding: 25px 0;
  color: #F5F5F5;
  a{
    color: #F5F5F5;
  }
  h2{
    font-size: 22px;
    margin: 0 0 10px;
    line-height: 1;
  }
  h3{
    font-size: 18px;
    margin: 0;
  }
}




