
// Media queries

@media only screen and (max-width : 1400px){
  .container{
    width: 1100px;
  }
}
@media only screen and (max-width : 768px)
{
  .container{
    width: calc(100% - 20px);
  }
  // Header styles
  .App-header{
    height: auto;
    .container{
      width: 100%;
    }
  }
  .App-title{
    font-size: 28px;
    line-height: 1;
    margin: 20px 0;
  }
  .header-inner{
    display: block;
    .logo{
      text-align: center;
    }
    .nav-wrap{
      ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
        grid-gap: 0;
        li{
          text-align: center;
          a{
            width: 100%;
            padding: 10px 20px;
          }
        }
      }
    }
  }

  // Search bar styles
  .search-bar-input{
    padding: 20px;
  }
  .react-autosuggest__suggestions-container--open{
    margin-top: 10px;
  }
  .react-autosuggest__suggestion{
    padding: 10px 20px;
    .material-icons{
      right: 20px;
      font-size: 24px !important;
    }
  }
  .react-autosuggest__suggestion-image{
    width: 60px;
    margin-right: 20px;
  }
  .react-autosuggest__suggestion-info{
    width: calc(100% - 80px);
    padding-right: 40px;
  }
  .react-autosuggest__suggestion-title{
    font-size: 18px;
    margin: 0;
  }
  .react-autosuggest__suggestion-description{
    display: none;
  }

  // Home page styles
  .section-latest__wrap{
    padding: 0 0 20px;
    display: block;
    .section-title{
      margin: 20px 0;
    }
    .grid .item .desc__wrap{
      padding: 10px;
      p{
        font-size: 16px;
      }

    }
  }

  // Movies/TV pages styles
  .elements__grid__wrap{
    padding-top: 10px;
    display: block;
    .grid-sorting__wrap{
      padding: 20px 20px;
      margin-bottom: 10px;
      ul{
        text-align: left;
        li{
          margin-left: 0;
          margin-right: 10px;
          font-size: 16px;

          &:last-of-type{
            margin-right: 0;
          }
        }
      }
    }
    .grid__filters{
      display: none;
    }
    .elements__grid{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }
  .grid__item{
    .item__rating__wrap{
      top: 10px;
      right: 10px;
    }
    .desc__wrap{
      padding: 10px;
      .title{
        margin: 0;
      }
      .genres{
        display: none;
      }
    }
  }

  // Single pages styles
  .single-details__wrap{
    display: block;
    padding: 40px 0 0;
    .col-left{
      padding: 0 20px 20px;
    }
    .col-right{
      margin: -60px -10px 0;
    }
    .description-wrap{
      padding: 60px 30px 20px;
      border-radius: 0;
      box-shadow: none;
      p{
        margin: 0 0 10px;
      }
      .date{
        margin-bottom: 20px;
      }
    }
    h2{
      font-size: 28px;
      margin-top: 0;
      margin-bottom: 10px;
    }
    h4{
      margin: 0;
    }

  }

  .single-details__bg{
    margin-bottom: 20px;
  }
  .single-movie-grid__wrap{
    padding-bottom: 20px;
    .section-title{
      font-size: 24px;
    }
    .single-movie-grid{
      grid-template-columns: repeat(2, 1fr);
      .grid__item{
        &:first-of-type{
          grid-column: auto;
          grid-row: auto;
        }
      }
    }
  }
  .serial-seasons-wrap{
    padding-bottom: 20px;
    .section-title{
      font-size: 24px;
    }
    .serial-seasons-grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (min-width : 1900px)
{
  .container{
    width: 1600px;
  }
}